:root {
    --color: 200;
    /*hsl(200, 62%, 26%).*/
    --body-font: "Helvetica", sans-serif;
    --body-color: hsl(200, 62%, 26%);
    --title-color: hsl(var(--color), 8%, 95%);
    --text-color: hsl(242, 8%, 85%);
    /* --active-color: hsl(183, 44%, 32%); */
    --active-color: hsl(183.3, 100%, 50%);
   
    --box-color: hsl(var(--color), 57%, 21%);
    --nav-color: #184F71;
    
}
