.style__Switch , .style__Langues
{
 position: fixed;
 right: 0rem;
   padding: .2rem;
   z-index: 101;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateX(100%);
}


.style__Switch
{
   
    top: 6rem;
    width: 150px;
    border: 1px solid #FDFAFF;
    background-color: #FDFAFF;
    

}
.style__Langues
{
   
   
    top: 2rem;
   
}


.style__Switch.open
{
    transform: translateX(-25px);
}

.style__Switch .switch-icon,
.style__Langues .switch-icon
{
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    background: var(--active-color);
    color: aliceblue;
    right: 100%;
    border: 1px solid var(--active-color);
    margin-right: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
}

.style__Switch .switch-icon i{
    line-height: 40px;
}

.style__Switch .style__switch-toggle
{
    top : 0;
}

.style__Switch h4{
    margin: 0 0 10px;
    color: black;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

.style__Switch 
.colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.style__Switch .colors span{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;

    
}

.style__Switch .color-1
{
    background-color: #094376;
}

.style__Switch .color-2
{
    background-color: #17191D;
}
.style__Switch .color-3
{
    background-color: #FDFAFF;
    border: 1px solid var(--active-color);
}

.langue__switch-toggle p {
    line-height: 40px;
  font-size: 0.8rem;
  font-weight: 600;
}

.langue__switch-toggle p
{
    color: #00000012;
}

.langue__switch-toggle .active__laguage
{
    color:white;
}


